body {
    background-image: url("http://cdn.backgroundhost.com/backgrounds/subtlepatterns/ecailles.png");
    /* http://backgroundhost.com/  */
}

.menu .active>a {
    text-decoration: underline;
    background: none;
}

.orta {
    min-height: 30rem;
}

.orbit-caption .fa-angle-right {
    display: inline-block;
    position: absolute;
    left: 50%;
    top: 3rem;
    font-size: 35px;
    height: 76px;
    line-height: 68px;
    text-align: center;
    transition: all .25s ease 0s;
    width: 76px;
    border: 5px solid $marka-renk;
}

.orbit-previous,
.orbit-next {
    position: absolute;
    top: 33%;
}

.menu-lang {
    text-align: right;
    text-transform: uppercase;
}