<div class="orbit" role="region" aria-label="{{sirket.tam-sirket-adi}}" data-orbit data-bullets="false">
  <div class="orbit-wrapper">
    <div class="orbit-controls">
      <button class="orbit-previous"><span class="show-for-sr">Önceki Resim</span>&#9664;&#xFE0E;</button>
      <button class="orbit-next"><span class="show-for-sr">Sonraki Resim</span>&#9654;&#xFE0E;</button>
    </div>

    <ul class="orbit-container">
      <li class="is-active orbit-slide">
        <figure class="orbit-figure">
          <img class="orbit-image" src="https://placehold.it/1200x500/868?text=Slide-1" alt="Space">
          <figcaption class="orbit-caption">Başlık 1</figcaption>
        </figure>
      </li>
      <li class="orbit-slide">
        <figure class="orbit-figure">
          <img class="orbit-image" src="https://placehold.it/1200x500/8a8?text=Slide-2" alt="Space">
          <figcaption class="orbit-caption">Başlık 2</figcaption>
        </figure>
      </li>
      <li class="orbit-slide">
        <figure class="orbit-figure">
          <img class="orbit-image" src="https://placehold.it/1200x500/77a?text=Slide-3" alt="Space">
          <figcaption class="orbit-caption">Başlık 3</figcaption>
        </figure>
      </li>
      <li class="orbit-slide">
        <figure class="orbit-figure">
          <img class="orbit-image" src="https://placehold.it/1200x500/faf&text=Slide-4" alt="Space">
          <figcaption class="orbit-caption">
            <h2>
              {{sirket.tam-sirket-adi}} <br>
              <span>Güvenilen marka </span>
            </h2>
            <p>
              modern tasarım anlayışı ve kaliteli üretimi ile lüks projeler hayata geçiriyor.
            </p>
            <a class="fa fa-angle-right" href="#"></a>
          </figcaption>
        </figure>
      </li>
    </ul>
  </div>
</div>